<ion-view view-title="Terminy zabiegów">
    <ion-content class="padding" style="text-align: center;">
        <ion-refresher pulling-text="Pociągnij, aby odświeżyć" on-refresh="doRefresh()">
        </ion-refresher>
        <div class="row header" style="font-weight: bold; border: 1px solid #dddddd; background-color: #F8F8F8; margin-bottom: 10px">
            <div class="col">Data</div>
            <div class="col">Godzina</div>
            <div class="col">Szczegóły</div>
        </div>
        <div class="row" data-ng-repeat="treatment in treatments |orderBy: 'date'" style="margin-bottom: 10px; border: 1px solid #dddddd;">
            <div class="col" style="line-height: 35px;">{{treatment.date}}</div>
            <div class="col" style="line-height: 35px;">{{treatment.hour}}</div>
            <button class="col button button-small button-positive" style="margin-top: 5px;" data-ui-sref="tab.treatment-detail({treatmentId: treatment.id})">Więcej</button>
        </div>
        <button class="button button-positive" style="margin-top: 5px;" data-ui-sref="tab.treatments-empty-list">Pusta lista</button>
    </ion-content>
</ion-view>
