<ion-view view-title="Terminy zabiegów">
    <ion-content class="padding" style="text-align: center">
        <div class="row">
            Nie masz żadnych zaplanowanych zabiegów. Udaj się do gabinetu rehabilitacyjnego w celu umówienia się na dogodny termin. Wskazówka dojazdu:
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2420.4712829985406!2d19.050175000000003!3d52.651464600000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471c996af5fb46b9%3A0xdd28b2301d2310c5!2sGniazdowskiego+9%2C+87-800+W%C5%82oc%C5%82awek!5e0!3m2!1spl!2spl!4v1441562741757" width="300" height="370" frameborder="0" style="border:0" allowfullscreen></iframe>
    </ion-content>
</ion-view>
