<ion-view cache-view="false" view-title="Terminy zabiegów" data-ng-init="loadTreatmentsList()">
    <ion-content class="padding" style="text-align: center;" data-ng-hide="empty">
        <ion-refresher pulling-text="Pociągnij, aby odświeżyć" on-refresh="doRefresh()">
        </ion-refresher>
        <div class="row header" style="font-weight: bold; border: 1px solid #dddddd; background-color: #F8F8F8; margin-bottom: 10px">
            <div class="col">Data</div>
            <div class="col">Godzina</div>
            <div class="col">Szczegóły</div>
        </div>
        <div class="row" data-ng-repeat="treatment in treatments|orderBy: 'datehour'" style="margin-bottom: 10px; border: 1px solid #dddddd;">
            <div class="col" style="display: flex; align-items: center; justify-content: center; ">{{treatment.datehour|date:'dd.MM.yyyy'}} r.</div>
            <div class="col" style="display: flex; align-items: center; justify-content: center; ">{{treatment.datehour|date:'HH:mm'}}</div>
            <button class="col button button-small button-positive" style="margin-top: 5px; width: 125px" data-ui-sref="tab.treatment-detail({treatmentId: treatment.patienttreatmentid})">Więcej</button>
        </div>
    </ion-content>
    <ion-content class="padding" style="text-align: center" data-ng-show="empty">
        <ion-refresher pulling-text="Pociągnij, aby odświeżyć" on-refresh="doRefresh()">
        </ion-refresher>
        <div class="row">
            Nie masz żadnych zaplanowanych zabiegów. Udaj się do gabinetu rehabilitacyjnego w celu umówienia się na dogodny termin. Wskazówka dojazdu:
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2420.4712829985406!2d19.050175000000003!3d52.651464600000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471c996af5fb46b9%3A0xdd28b2301d2310c5!2sGniazdowskiego+9%2C+87-800+W%C5%82oc%C5%82awek!5e0!3m2!1spl!2spl!4v1441562741757" width="300" height="350" frameborder="0" style="border:0"></iframe>
    </ion-content>
</ion-view>
