<ion-view view-title="Kontakt" data-ng-init="loadEmployeesList()">
    <ion-content class="padding">
        <form name="form">
            <div class="list">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Do:
                    </div>
                    <select data-ng-model="contact.to" required>
                        <option selected disabled value="">Wybierz lekarza...</option>
                        <option data-ng-repeat="employee in employees" value="{{employee.email}}">{{employee.degree}} {{employee.name}} {{employee.surname}}</option>
                    </select>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Tytuł wiadomości..." data-ng-model="contact.subject" required>
                </label>
                <label class="item item-input">
                    <textarea style="height: 225px;" placeholder="Treść wiadomości..." data-ng-model="contact.body" required></textarea>
                </label>
            </div>
        </form>
        <div class="col text-center">
            <button class="button button-positive" type="submit" form="form" data-ng-click="sendEmail(contact)" data-ng-disabled="form.$invalid">
                Wyślij wiadomość
            </button>
        </div>
    </ion-content>
</ion-view>
