<ion-view view-title="Cennik usług" data-ng-init="loadPricesList()">
    <ion-content class="padding" style="text-align: center;" data-ng-hide="error" start-y="75">
        <div id="search-box" class="bar bar-header item-input-inset" style="margin-bottom: 10px">
            <div class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Wyszukaj" data-ng-model="query.searchQuery">
                <i style="width: 20px" class="icon ion-ios-close-empty" data-ng-show="query.searchQuery.length" data-ng-click="clearSearch()"></i>
            </div>
        </div>
        <div class="row header" style="font-weight: bold; border: 1px solid #dddddd; background-color: #F8F8F8; margin-bottom: 10px">
            <div class="col col-50" style="display: flex; align-items: center; justify-content: center">Rodzaj zabiegu</div>
            <div class="col col-50" style="display: flex; align-items: center; justify-content: center">Cena*/czas trwania</div>
        </div>
        <div class="row" data-ng-repeat="price in prices|filter: query.searchQuery |orderBy: 'kindOfTreatment'" style="margin-bottom: 10px; border: 1px solid #dddddd;" data-ui-sref="tab.price-detail({priceId: price.treatmentid})">
            <div class="col col-50" style="display: flex; align-items: center; justify-content: center">{{price.kindoftreatment}}</div>
            <div class="col col-34" style="display: flex; align-items: center; justify-content: center">{{price.price}} zł/{{price.time}} min</div>
            <i style="display: flex; align-items: center; justify-content: center" class="button button-clear icon-right ion-chevron-right"></i>
        </div>
        <p style="text-align: justify" data-ng-hide="loading">*Powyższe ceny dotyczą usług udzielanych w ramach wizyty prywatnej.</p>
    </ion-content>
    <ion-content class="padding" style="text-align: center;" data-ng-show="error">
        <ion-refresher pulling-text="Pociągnij, aby odświeżyć" on-refresh="doRefresh()">
        </ion-refresher>
        <p style="text-align: center">Wystąpił błąd podczas pobierania listy zabiegów. Pociągnij widok, aby odświeżyć.</p>
    </ion-content>
</ion-view>