<ion-view view-title="Zmiana hasła">
    <ion-content class="padding" style="text-align: center;">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Nowe hasło</span>
                <input type="password" ng-model="user.password">
            </label>
            <label class="item item-input">
                <span class="input-label">Potwierdź nowe hasło</span>
                <input type="password">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="changePassword(user)">
                Zatwierdź
            </button>
        </div>
    </ion-content>
</ion-view>
