<ion-view view-title="Logowanie">
    <ion-content class="padding" style="text-align: left;">
        <form name="form">
            <div class="list list-item">
                <label class="item item-input">
                    <span class="input-label">Nazwa użytkownika</span>
                    <input name="username" type="text" data-ng-model="data.username" data-ng-blur="usernameBlur = true" data-ng-pattern="/^[0-9]{11}$/" required>
                </label>
                <p style="color: grey;" data-ng-show="(usernameBlur && form.username.$invalid) || (usernameBlur && form.username.$error.pattern)">Wprowadź prawidłową nazwę użytkownika.</p>
                <label class="item item-input">
                    <span class="input-label">Hasło</span>
                    <input name="password" type="password" data-ng-model="data.password" data-ng-minlength="5" required>
                </label>
                <p style="color: grey;" data-ng-show="form.password.$error.minlength">Wprowadź hasło składające się z minimum 5 znaków.</p>
            </div>
        </form>
        <div class="col text-center" data-ng-switch="data.username === data.password">
            <button data-ng-switch-when="true" style="width: 155px" class="button button-positive" data-ng-click="login('change', data)" data-ng-disabled="form.$invalid">
                Zaloguj się
            </button>
            <button data-ng-switch-when="false" style="width: 155px" class="button button-positive" data-ng-click="login('tab.treatments', data)" data-ng-disabled="form.$invalid">
                Zaloguj się
            </button>
            <p class="text-center">
                <a data-ng-click="showAlert()">Nie pamiętam hasła</a>
            </p>
        </div>
    </ion-content>
</ion-view>