<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<ion-view view-title="O programie">
    <ion-content class="padding">
        <div class="row">
            <div class="col" style="text-align: center;">
                <span>Aplikacja mobilna przeznaczona dla pacjentów habinetu rehabilitacyjnego XYZ, mająca na celu 
                    ułatwienie i usprawnienie korzystania z usług oferowanych przez gabinet.</span>
            </div>
        </div>
        <div class="row" style="padding-top: 25px">
            <div class="col" style="text-align: center;">
                <img  style="height:160px;" src="../img/ionic.png" />
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align: center;">
                <span>RehApp<br>
                    Wersja: 1.0.0</span>
            </div>
        </div>
        <div class="row" style="padding-top: 25px">
            <div class="col" style="text-align: center;">
                <span>Copyright &copy 2015 Michał Pietrzak<br>
                    Wszystkie prawa zastrzeżone</span>
            </div>
        </div>
    </ion-content>
</ion-view>
