<ion-view view-title="Szczegóły" data-ng-init="loadEmployeeDetails()">
    <ion-content class="padding" data-ng-repeat="employee in employeeDetails">
        <div class="row" style="margin-bottom: 5px;">
            <div class="col">
                <img style="height:125px; display:block; margin:auto;" data-ng-if="employee.name !== 'Michał' || employee.surname !== 'Pietrzak'" data-ng-src="img/person.jpg"/>
                <img style="height:125px; display:block; margin:auto;" data-ng-if="employee.name === 'Michał' && employee.surname === 'Pietrzak'" data-ng-src="img/m_pietrzak.jpg"/>
            </div>
            <div class="col">
                <p style="font-weight: bold;">{{employee.degree}} {{employee.name}} {{employee.surname}}</p>
                <p>Stanowisko: {{employee.position}}</p>
                <p>Wiek: {{employee.age}} lat</p>
            </div>
        </div>
        <p style="text-align: justify">{{employee.informations}}</p>
        <div class="row" style="text-align: center">
            <div class="col">
                <button class="button button-positive" data-ng-click="sendEmail(employee.email)">
                    Wyślij wiadomość
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
