<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<ion-view view-title="Pracownicy gabinetu">
    <ion-content class="padding">
        <div class="list" data-ng-repeat="employee in employees">
            <div class="row" style="text-align: center">
                <div class="col" data-ng-click="alert()">
                    <img style="height:100px;" src="{{employee.img}}" />
                    <p>{{employee.name}}</p>
                </div>
                <div class="col">
                    <img style="height:100px;" src="{{employee.img}}" />
                    <p>{{employee.name}}</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
