<ion-view view-title="Pracownicy gabinetu" data-ng-init="loadEmployeesList()">
    <ion-content class="padding" style="text-align: center;" data-ng-hide="error" start-y="75">
        <div id="search-box" class="bar bar-header item-input-inset" style="margin-bottom: 10px">
            <div class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Wyszukaj" data-ng-model="query.searchQuery">
                <i style="width: 20px" class="icon ion-ios-close-empty" data-ng-show="query.searchQuery.length" data-ng-click="clearSearch()"></i>
            </div>
        </div>
        <div class="list">
            <div class="row" style="margin-bottom: 5px; border-bottom:solid 1px" data-ng-repeat="employee in employees| filter: query.searchQuery | orderBy: 'surname'">
                <div class="col">
                    <img style="height:105px; display:block; margin:auto;" data-ng-if="employee.name !== 'Michał' || employee.surname !== 'Pietrzak'" data-ng-src="img/person.jpg" />
                    <img style="height:105px; display:block; margin:auto;" data-ng-if="employee.name === 'Michał' && employee.surname === 'Pietrzak'" data-ng-src="img/m_pietrzak.jpg" />
                </div>
                <div class="col">
                    <p style="font-weight: bold;">{{employee.degree}} {{employee.name}} {{employee.surname}}</p>
                    <p>Stanowisko: {{employee.position}}</p>
                    <button style="width: 100%" class="button button-small button-positive" data-ui-sref="tab.employee-detail({employeeId: employee.employeeid})">Więcej</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
