<ion-view view-title="Cennik usług">
    <ion-content class="padding" style="text-align: center;" start-y="70">
        <div id="search-box" class="bar bar-header item-input-inset">
            <div class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search" data-ng-model="data.searchQuery">
                <i class="icon ion-ios-close-empty" data-ng-show="data.searchQuery.length" data-ng-click="clearSearch()"></i>
            </div>
        </div>
        <div class="row header" style="font-weight: bold; border: 1px solid #dddddd; background-color: #F8F8F8; margin-bottom: 10px">
            <div class="col">Rodzaj zabiegu</div>
            <div class="col">Cena/czas trwania</div>
        </div>
        <div class="row" data-ng-repeat="price in prices |filter: data.searchQuery |orderBy: 'kindOfTreatment'" style="height: 50px; margin-bottom: 10px; border: 1px solid #dddddd;">
            <div class="col">{{price.kindOfTreatment}}</div>
            <div class="col" style="line-height: 35px">{{price.price}} zł/{{price.time}} min</div>
        </div>
    </ion-content>
</ion-view>